@{
    ViewBag.Title = "株式会社　システム制御サービス";
}
<section class="cid-qTkA127IK8 mbr-fullscreen mbr-parallax-background" id="header2-1">
    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-2">
                  株式会社<br>システム制御サービス
                </h1>
                <div class="mbr-section-btn">
                    <a class="btn btn-md btn-white-outline display-4" href="index.html#features11-5">ご挨拶</a>
                    <a class="btn btn-md btn-white-outline display-4" href="index.html#slider1-h">会社概要</a>
                    <a class="btn btn-md btn-white-outline display-4" href="index.html#header5-w">事業内容</a>
                    <a class="btn btn-md btn-white-outline display-4" href="index.html#slider1-m">採用情報</a>
                    <a class="btn btn-md btn-white-outline display-4" href="index.html#form1-o">お問合せ</a>
                    <a class="btn btn-md btn-white-outline display-4" href="index.html#info3-y">個人情報保護方針<br></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="engine"><a href="https://mobiri.se">Mobirise</a></section>

<section class="features11 cid-qXhtQo2070 mbr-parallax-background" id="features11-5">

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(255, 255, 255);">
    </div>
    <div class="container">
        <div class="col-md-12">
            <div class="media-container-row">
                <div class="mbr-figure" style="width: 50%;">
                    <img src="../Style/images/tojimari-1-640x480.jpg" alt="Mobirise" title="">
                </div>
                <div class=" align-left aside-content">
                    <h2 class="mbr-title pt-2 mbr-fonts-style display-2">
                        ご挨拶
                    </h2>
                    <div class="mbr-section-text">
                        <!-- TBLから取得する？ -->
                        <p class="mbr-text mb-5 pt-3 mbr-light mbr-fonts-style display-7">
                            当社は昭和60年9月の設立以来マイコンファームを中心とした<br>制御システム開発において培った技術を基盤として、オープン系、
                            <br>汎用アプリ、システム運用等の事業を幅広く展開してまいりました。
                            <br>
                            <br>変貌する社会情勢、激変する情報化社会、進化する技術革新の中で、
                            <br>常に普遍的な『信頼』を基に、誠実な企業でありたいと歩んできました。
                            <br>
                            <br>より良いシステムを私たちの技術で制御し、社会に貢献し、奉仕する。
                            <br>このような企業を目指しています。
                            <br>
                            <br>今後もお客様のニーズにお応えできるよう、高品質なサービスを
                            <br>ご提供致します。
                            <br><br>引き続き皆様のご指導と、ご愛顧のほど、よろしくお願い申し上げます。
                            <br>
                            <br>代表取締役　小沼 裕之
                        </p>
                        <!-- TBLから取得する？ここまで -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="carousel slide cid-qXm4r2dXo5" data-interval="false" id="slider1-h">
    <div class="full-screen">
        <div class="mbr-slider slide carousel" data-pause="true" data-keyboard="false" data-ride="false" data-interval="false">
            <ol class="carousel-indicators">
                <li data-app-prevent-settings="" data-target="#slider1-h" class=" active" data-slide-to="0"></li>
                <li data-app-prevent-settings="" data-target="#slider1-h" data-slide-to="1"></li>
                <li data-app-prevent-settings="" data-target="#slider1-h" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item slider-fullscreen-image active" data-bg-video-slide="false" style="background-image: url(../Style/images/1.jpg);">
                    <div class="container container-slide">
                        <div class="image_wrapper">
                            <div class="mbr-overlay"></div><img src="../Style/images/1.jpg">
                            <div class="carousel-caption justify-content-center">
                                <div class="col-12 align-left">
                                    <h2 class="mbr-fonts-style display-2">会社概要</h2>
                                    <!-- TBLから取得する？ -->
                                    <p class="lead mbr-text mbr-fonts-style display-5">
                                        <strong>会社名</strong>　　　　株式会社システム制御サービス
                                        <br>
                                        <br><strong>所在地</strong>　　　　〒170-0013　東京都豊島区東池袋1-48-10　25山京ﾋﾞﾙ9F
                                        <br>
                                        <br><strong>設立</strong>　　　　　昭和60年9月18日
                                        <br>
                                        <br><strong>資本金</strong>　　　　2000万
                                        <br>
                                        <br><strong>売上高</strong>　　　　3億3千万（平成29年7月期）
                                        <br>
                                        <br><strong>役員構成</strong>　　　代表取締役　　小沼　裕之
                                        <br>　　　　　　　取締役　　　　山田　勉
                                        <br>　　　　　　　取締役　　　　小沼　由美子
                                        <br>　　　　　　　監査役　　　　荒野　信昭<br><br><strong>得意分野</strong>　　　マイコンファームウエア(組み込み系）
                                        <br>　　　　　　　オープン系／汎用機系の開発
                                        <br>　　　　　　　ヘルプデスク、ネットワーク運用／構築&nbsp;<br><br><br>
                                    </p>
                                    <!-- TBLから取得する？ここまで -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item slider-fullscreen-image" data-bg-video-slide="https://www.youtube.com/watch?v=fwkKc6M60-0">
                    <div class="mbr-overlay"></div>
                    <div class="container container-slide">
                        <div class="image_wrapper">
                            <img src="../Style/images/2.jpg" style="opacity: 0;">
                            <div class="carousel-caption justify-content-center">
                                <div class="col-12 align-left">
                                    <h2 class="mbr-fonts-style display-2">会社概要</h2>
                                    <!-- TBLから取得する？ -->
                                    <p class="lead mbr-text mbr-fonts-style display-5">
                                        <strong><br></strong><br><strong>顧問</strong>　　　　　湯山弁護士法律事務所
                                        <br>　　　　　　　吉田社会保険労務士事務所
                                        <br>　　　　　　　海老根税理士事務所
                                        <br>
                                        <br><strong>加入団体</strong>　　　関東ＩＴソフトウエア健康保険組合
                                        <br>　　　　　　　中小企業退職金共済事業本部加入
                                        <br>　　　　　　　東京商工会議所会員
                                        <br>
                                        <br><strong>許認可</strong>　　　　労働者派遣事業許可番号　　派13-309113
                                        <br>　　　　　　　有料職業紹介事業許可番号　13-ﾕ-309129
                                        <br>
                                        <br><strong>取引銀行</strong>　　　みずほ銀行　池袋支店
                                        <br>　　　　　　　三菱東京ＵＦＪ銀行　池袋支店<br><br><br><br><br><br>
                                    </p>
                                    <!-- TBLから取得する？ここまで -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url(../Style/images/3.jpg);">
                    <div class="container container-slide">
                        <div class="image_wrapper">
                            <div class="mbr-overlay"></div><img src="../Style/images/3.jpg">
                            <div class="carousel-caption justify-content-center">
                                <div class="col-12 align-left">
                                    <h2 class="mbr-fonts-style display-2">会社概要<br></h2>
                                    <!-- TBLから取得する？ -->
                                    <p class="lead mbr-text mbr-fonts-style display-5">
                                        <br><strong>お取引先</strong>　　　株式会社ＮＴＴアド
                                        <br>　　　　　　　株式会社紀文フレッシュシステム
                                        <br>　　　　　　　株式会社コア
                                        <br>　　　　　　　株式会社シーイーシー
                                        <br>　　　　　　　公益財団法人全国書美術振興会
                                        <br>　　　　　　　公益財団法人東京都スキー連盟
                                        <br>　　　　　　　TIS株式会社
                                        <br>　　　　　　　東京航空計器株式会社
                                        <br>　　　　　　　東京コンピュータサービス株式会社
                                        <br>　　　　　　　日本コムシス株式会社
                                        <br>　　　　　　　日本システムウエア株式会社
                                        <br>　　　　　　　丸紅情報システムズ株式会社
                                        <br>　　　　　　　日本マイクロコンピュータ株式会社
                                        <br>　　　　　　　株式会社日立国際ビジネス
                                        <br>　　　　　　　富士ソフト株式会社
                                        <br>　　　　　　　三菱重工業株式会社
                                        <br>　　　　　　　明治安田システム・テクノロジー株式会社
                                        <br>　　　　　　　凌雲会（書道研究所）
                                        <br>　　　　　　　（五十音順）<br>
                                    </p>
                                    <!-- TBLから取得する？ここまで -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- todo ボタンの位置が変
    <a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#slider1-h">
        <span aria-hidden="true" class="mbri-left mbr-iconfont"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next" href="#slider1-h">
        <span aria-hidden="true" class="mbri-right mbr-iconfont"></span>
        <span class="sr-only">Next</span>
    </a>
        -->
        </div>
    </div>
</section>

<section class="timeline1 cid-qXi76IRGSs" id="timeline1-c">
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(35, 35, 35);"></div>
    <div class="container align-center">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">
            沿革
        </h2>
        <div class="container timelines-container" mbri-timelines="">
            <div class="row timeline-element reverse separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">
                    <div class="time-line-date-content">

                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-right">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">1985年</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">制御系システム開発を目的に中野にて設立。</p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element  separline">
                <div class="timeline-date-panel col-xs-12 col-md-6 align-right">
                    <div class="time-line-date-content">

                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-left ">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            1988年
                        </h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            南池袋に移転、制御系システム、<br>マイコンファーム受注幅を拡大。
                        </p>
                    </div>
                </div>
            </div>

            <div class="row timeline-element reverse separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">
                    <div class="time-line-date-content">

                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-right">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            1990年
                        </h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            東池袋に移転、PC-9801用電話ボード<br>『伝言一番』ドライバを開発、T-ZONEにて販売開始。
                        </p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element  separline">
                <div class="timeline-date-panel col-xs-12 col-md-6 align-right">
                    <div class="time-line-date-content">

                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-left ">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            1995年
                        </h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            現在地に移転、音声応答装置、画像認識装置、<br>バーコードリーダ、等の受託開発。
                        </p>
                    </div>
                </div>
            </div>

            <div class="row timeline-element reverse separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">
                    <div class="time-line-date-content">

                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-right">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            2000年
                        </h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            異業種および国際交流事業に参画。<br>汎用機、運用、HD等の他業種に参画。
                        </p>
                    </div>
                </div>
            </div>

            <div class="row timeline-element separline">
                <div class="timeline-date-panel col-xs-12 col-md-6 align-right">
                    <div class="time-line-date-content">

                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-left ">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            2005年
                        </h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            ストロボ関連のデバイスドライバ、試験機ソフト開発。書家管理ソフトパッケージ開発。
                        </p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element reverse separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">
                    <div class="time-line-date-content">

                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-right">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            2010年
                        </h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            東京都財団法人向けシステム開発、ネットワーク、<br>構築関連作業の規模を広げる。
                        </p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element separline">
                <div class="timeline-date-panel col-xs-12 col-md-6 align-right">
                    <div class="time-line-date-content">

                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-left ">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            2013年
                        </h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            組込み、オープン系、汎用機、運用、構築など<br>範囲を広げ、トータル技術を拡充。
                        </p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element reverse">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">
                    <div class="time-line-date-content">

                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-right">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            2018年
                        </h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            インフラ技術支援に注力、人員拡充し<br>チーム化の推進を行う。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="header5 cid-qXmXnhWJOf mbr-fullscreen mbr-parallax-background" id="header5-w">
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
                    事業内容
                </h1>
                <!-- TBLから取得する？ -->
                <p class="mbr-text align-center display-5 pb-3 mbr-fonts-style">
                    <br><u>◇制御系／組み込み系システム開発</u><br>
                    <br>　携帯電話、ナビゲーション、複合機などマイコン応用製品のファームウエアを
                    <br>　アセンブラ、Ｃ言語などで開発します。<br>
                    <br><u>◇オープン系システム開発</u><br>
                    <br>　業務アプリ、サーバー、通信アプリなどのソフトをパソコン、ＵＮＩＸ機
                    <br>　その他専用端末等で、ＪＡＶＡ、Ｃ＋＋、．ＮＥＴ等で開発します。<br>
                    <br><u>◇汎用系システム開発</u><br>
                    <br>　銀行、証券、販売、経理などの業務をＣＯＢＯＬ等の言語で開発します。
                    <br>　まだまだ需要は広がっています。<br>
                    <br><u>◇ネットワーク構築／運用・ヘルプデスク</u><br>
                    <br>　サーバーでの基盤構築、運用、監視、また業務ソフトのヘルプデスクなど、
                    <br>　コンピュータにかかわる作業は今後も発展し、その専門性は深く、広く、
                    <br>　需要は今後ますます増えていきます。<br>
                </p>
                <!-- TBLから取得する？ここまで -->
            </div>
        </div>
    </div>
</section>
<section class="header3 cid-qXmUzzcIdl mbr-parallax-background" id="header3-t">
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-figure" style="width: 100%;">
                <img src="../Style/images/business-1-280x187.jpg" alt="Mobirise" title="">
            </div>
            <div class="media-content">
                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-2">
                    私たちの姿勢
                </h1>
                <div class="mbr-section-text mbr-white pb-3 ">
                    <!-- TBLから取得する？ -->
                    <p class="mbr-text mbr-fonts-style display-7">
                        ・技術に関して、日々研鑽していきます。 <br>
                        <br>・技術を継承しすそ野を広げていきます。 <br>
                        <br>・人間社会の全ての根本は人との出会いです。<br>
                        <br>・人と人とのコミュニケーションを大事にしていきます。<br>
                        <br>・お客様には誠実で積極的な技術サービスを提供します。 <br>
                        <br>・独りよがりのシステムにならないようにいたします。 <br>
                        <br>・常に最適な技術をもとにお客様のご希望を実現するシステムを<br>　開発します。&nbsp;
                    </p>
                    <!-- TBLから取得する？ここまで -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="header1 cid-qXmas79hf0" id="header1-j">
    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(0, 0, 0);"></div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-2">
                    <span style="font-weight: normal;">
                        派遣におけるマージン率
                    </span>
                </h1>
                <!-- TBLから取得する？ -->
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-7">
                    2017年度の特定労働者派遣事業におけるマージン率は下記の通り。
                    <br>
                    <br>　特定派遣労働者の賃金　：　69%
                    <br>　マージン率　　　　　　：　31%
                    <br><br>マージン率に含まれるものとして、
                    <br>
                    <br>　雇用主が負担する社会保険料・労働保険料
                    <br>　派遣労働者が取得する有給・慶弔休暇に充当した費用
                    <br>　資格取得、教育・研修費用
                    <br>　営業・管理・採用活動等・事業運営にあたる労働者の人件費
                    <br>　オフィス賃借料、宣伝広告費、通信費等の諸費用
                    <br>　営業利益
                    <br><br>などがあります。<br><br>　※2012年10月1日付け改正労働者派遣法施工に伴なう公開
                </p>
                <!-- TBLから取得する？ここまで -->
            </div>
        </div>
    </div>
</section>

<section class="carousel slide cid-qXml1yPnQh" data-interval="false" id="slider1-m">
    <div class="full-screen">
        <div class="mbr-slider slide carousel" data-pause="true" data-keyboard="false" data-ride="false" data-interval="false">
            <ol class="carousel-indicators">
                <li data-app-prevent-settings="" data-target="#slider1-m" class=" active" data-slide-to="0"></li>
                <li data-app-prevent-settings="" data-target="#slider1-m" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item slider-fullscreen-image active" data-bg-video-slide="false" style="background-image: url(../Style/images/mbr-1920x1281.jpg);">
                    <div class="container container-slide">
                        <div class="image_wrapper">
                            <div class="mbr-overlay"></div><img src="../Style/images/mbr-1920x1281.jpg">
                            <div class="carousel-caption justify-content-center">
                                <div class="col-12 align-center">
                                    <h2 class="mbr-fonts-style display-2">採用情報　新卒者のみなさまへ</h2>
                                    <!-- TBLから取得する？ -->
                                    <p class="lead mbr-text mbr-fonts-style display-5">
                                        <br><br><br>新卒者のみなさまには社会人として責任が持てるエンジニアを目指して頂きたい。
                                        <br><br>パソコンが好きだから、将来性があるから、あまり人と関わらなくても良いから、と言った理由で<br>ソフト業界を選択する事には疑問があります。
                                        <br><br>プログラム開発は日進月歩です。開発ツールが簡易化し、誰でも簡単にコードを書ける時代は、もうすでに来ています。
                                        <br><br>他の産業と同様に、またはそれ以上に必要とされることは、技術の習得はもちろん、和を保ち、協力し、<br>コミュニケーションに留意し、お客様、そして仲間から、信頼を得ることにあります。
                                        <br><br>社会人として自立を目指し、常に学習する意欲のある方を、お待ちしております。
                                        <br>　※専門学校、短大、大学、卒業、見込みの方（学部学科専攻は不問です）お気軽にお問い合わせ下さい。<br><br>
                                    </p>
                                    <!-- TBLから取得する？ここまで -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url(../Style/images/mbr-1920x1277.jpg);">
                    <div class="container container-slide">
                        <div class="image_wrapper">
                            <div class="mbr-overlay" style="opacity: 0.6;"></div><img src="../Style/images/mbr-1920x1277.jpg">
                            <div class="carousel-caption justify-content-center">
                                <div class="col-12 align-right">
                                    <h2 class="mbr-fonts-style display-2">採用情報　新卒者のみなさまへ</h2>
                                    <!-- TBLから取得する？ -->
                                    <p class="lead mbr-text mbr-fonts-style display-5">
                                        <br><strong>職種</strong>　　　　 ①ＳＥ　②ＰＧ　③運用・ネットワーク　④その他 <br><strong>勤務地</strong>　　　弊社および弊社請負先（都内および周辺地域）
                                        <br><strong><br></strong><br><strong>初任給</strong>　　　基本給 190,000円(専門学校卒)
                                        <br><strong>住宅手当</strong>　　5,000円～10,000円
                                        <br><strong>資格手当</strong>　　～30,000円
                                        <br><strong>合計</strong>　　　　195,000円～240,000円
                                        <br>　※その他、家族手当・技術手当・営業手当など各種手当あり。
                                        <br><br><strong>待遇</strong>　　　　昇給年1回、賞与年2回、交通費全額支給、社保完備
                                        <br><strong>勤務時間</strong>　　09:00～17:45（業務により多少異なります）
                                        <br><strong>休日休暇</strong>　　完全週休2日、祝祭日、夏季休暇および年末年始休暇
                                        <br><br><strong>応募書類</strong>　　履歴書、成績証明者、卒業見込み証明書
                                        <br><strong>応募方法</strong>　　電話またはメールにてお問い合わせ下さい。
                                    </p>
                                    <!-- TBLから取得する？ここまで -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ボタンの位置が変
            <a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#slider1-m">
                <span aria-hidden="true" class="mbri-left mbr-iconfont"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next" href="#slider1-m">
                <span aria-hidden="true" class="mbri-right mbr-iconfont"></span>
                <span class="sr-only">Next</span>
            </a>
    -->
        </div>
    </div>
</section>

<section class="carousel slide cid-qXmrxXZOob" data-interval="false" id="slider1-n">
    <div class="full-screen">
        <div class="mbr-slider slide carousel" data-pause="true" data-keyboard="false" data-ride="false" data-interval="false">
            <ol class="carousel-indicators">
                <li data-app-prevent-settings="" data-target="#slider1-n" class=" active" data-slide-to="0"></li>
                <li data-app-prevent-settings="" data-target="#slider1-n" data-slide-to="1"></li>
            </ol>
            <div class="carousel-item slider-fullscreen-image active" data-bg-video-slide="false" style="background-image: url(../Style/images/mbr-1920x1286.jpg);">
                <div class="container container-slide">
                    <div class="image_wrapper">
                        <div class="mbr-overlay"></div><img src="../Style/images/mbr-1920x1286.jpg">
                        <div class="carousel-caption justify-content-center">
                            <div class="col-12 align-center">
                                <h2 class="mbr-fonts-style display-2">採用情報　経験者のみなさまへ</h2>
                                <!-- TBLから取得する？ -->
                                <p class="lead mbr-text mbr-fonts-style display-5">
                                    <br><br>経験者のみなさまには今までの技術や知識をより発展させていただきたい。
                                    <br><br>みなさまのスキルを充分発揮できるような仕事をご提供します。 <br>仕事の内容、興味のある技術、自分の将来、夢、心配事、何でもかまいません、ご相談下さい。 <br>
                                    <br>経験の少ない方、他業種からチャレンジをお考えの方、異なる分野のスキルをつけたい方など自分のできること、<br>また自分のやりたいことをお聞かせ下さい。 営業経験豊富なスタッフがきめ細かく対応させていただきます。
                                    <br>また当社は働く方のライフスタイルに合わせ、柔軟な雇用形態を考えております。<br>正社員、契約社員、将来独立をお考えの方、様々な方のニーズに合わせご対応致します。
                                    <br>
                                    <br>　※実務経験の少ない方、在職中の方、質問アドバイスを受けたい方、お気軽にお問い合わせ下さい。<br><br><br><br><br>
                                </p>
                                <!-- TBLから取得する？ここまで -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url(../Style/images/3.jpg);">
                <div class="container container-slide">
                    <div class="image_wrapper">
                        <div class="mbr-overlay"></div><img src="../Style/images/3.jpg">
                        <div class="carousel-caption justify-content-center">
                            <div class="col-12 align-right">
                                <h2 class="mbr-fonts-style display-2">採用情報　経験者のみなさまへ</h2>
                                <!-- TBLから取得する？-->
                                <p class="lead mbr-text mbr-fonts-style display-5">
                                    <strong><br>業務　　　　</strong>制御系システム（アセンブラ、Ｃ）
                                    <br>　　　　　　オープン系システム（Ｃ、ＶＢ、ＶＣ、ＪＡＶＡ、Ｐｅｒｌ、ＤＢ）
                                    <br>　　　　　　汎用系システム（ＣＯＢＯＬ、ＰＬ／Ｉ、アセンブラ）
                                    <br>　　　　　　運用系サポートヘルプ （ＯＰ、ヘルプデスク、ネットワーク）
                                    <br><br><strong>職種</strong>　　　　①ＳＥ　②ＰＧ　③運用・ネットワーク　④その他　（社員・契約社員）
                                    <br><strong>勤務地</strong>　　　弊社および弊社請負先（都内および周辺地域）
                                    <br><strong><br></strong><strong>資格</strong>　　　　20歳～50歳位迄（実務経験1年以上）
                                    <br><strong>給与</strong>　　　　(社)20万～50万　(契)25万～65万　※経験能力等考慮します。
                                    <br><strong>待遇</strong>　　　　昇給年1回、賞与年2回、交通費全額支給、社保完備
                                    <br><strong><br></strong><strong>勤務時間</strong>　　09:00～17:45（業務により多少異なります）
                                    <br><strong>休日休暇</strong>　　完全週休2日、祝祭日、夏季休暇および年末年始休暇
                                    <br><strong><br></strong><strong>応募書類</strong>　　履歴書(写真貼付)、職務経歴書
                                    <br><strong>応募方法</strong>　　電話またはメールにてお問い合わせ下さい。
                                </p>
                                <!-- TBLから取得する？ここまで -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ボタンの位置が変
    <div class="carousel-inner" role="listbox">
        <a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next" href="#slider1-n">
            <span aria-hidden="true" class="mbri-right mbr-iconfont"></span>
            <span class="sr-only">Next</span>
        </a>
        <a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#slider1-n">
            <span aria-hidden="true" class="mbri-left mbr-iconfont"></span>
            <span class="sr-only">Previous</span>
        </a>
    </div>
        -->
        </div>
    </div>
</section>

<section class="mbr-section form1 cid-qXmRoazZtA mbr-parallax-background" id="form1-o">
    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
                    お問い合わせ
                </h2>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">
                    以下のフォームより、必要事項を入力のうえ送信してください。
                </h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-12" data-form-type="formoid">
                <div data-form-alert="" hidden="">お問い合わせいただき、誠にありがとうございました。</div>
                <form class="mbr-form" action="https://mobirise.com/" method="post" data-form-title="Mobirise Form">
                    <input type="hidden" name="email" data-form-email="true" value="N0DySxOLrcoF0mZXGBvviluKzi/oIRqCZGBykSOFevmw2eaJ6dOaQsQVR0o+kOo4PlCY4/qinfNx79TBUiuSllDKz3rJ+8R+HQctmADcDpPQoUnxp2Zuf9APccnx4USI" data-form-field="Email">
                    <div class="row row-sm-offset">
                        <div class="multi-horizontal" data-for="name">
                            <div class="form-group col-md-12">
                                <label class="form-control-label mbr-fonts-style display-7" for="name-form1-o">お名前</label>
                                <input type="text" class="form-control" name="name" data-form-field="Name" required="" id="name-form1-o">
                            </div>
                        </div>
                        <div class="col-md-12 multi-horizontal" data-for="email">
                            <div class="form-group">
                                <label class="form-control-label mbr-fonts-style display-7" for="email-form1-o">メールアドレス</label>
                                <input type="email" class="form-control" name="email" data-form-field="Email" required="" id="email-form1-o">
                            </div>
                        </div>
                        <div class="col-md-12 multi-horizontal" data-for="phone">
                            <div class="form-group">
                                <label class="form-control-label mbr-fonts-style display-7" for="phone-form1-o">ご連絡先お電話番号</label>
                                <input type="tel" class="form-control" name="phone" data-form-field="Phone" id="phone-form1-o">
                            </div>
                        </div>
                    </div>
                    <div class="row row-sm-offset">
                        <div class="form-group col-md-12" data-for="message">
                            <label class="form-control-label mbr-fonts-style display-7" for="message-form1-o">問合せ内容</label>
                            <textarea type="text" class="form-control" name="message" rows="7" data-form-field="Message" id="message-form1-o"></textarea>
                        </div>
                        <div class="input-group-btn col-md-4">
                            <button href="" type="submit" class="btn btn-primary btn-form display-4">送信</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section info3 cid-qXn3D3jOlG" id="info3-y">
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column title col-12 col-md-10">
                <h2 class="align-left mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
                    <span style="font-weight: normal;">
                        個人情報保護方針
                    </span>
                </h2>
                <!-- TBLから取得する？ -->
                <p class="mbr-text align-left mbr-white mbr-fonts-style display-7">
                    株式会社システム制御サービス（以下「当社」といいます）は、
                    <br>お客様からお預かりした個人情報を適切に取り扱い保護することは重要であり責務と考えます。
                    <br>
                    <br>当社は全従業員に個人情報の重要性の認識と取り組みを徹底することにより個人情報の保護を推進いたします。
                    <br>当社は個人情報に関する法令及びその他の規範を遵守いたします。
                    <br>
                    <br>１．個人情報の取得
                    <br>
                    <br>　当社は個人情報の収集にあたり目的を明確にし、目的の範囲を限定し、個人情報を取得いたします。
                    <br>
                    <br>２．個人情報の利用
                    <br>
                    <br>　当社は個人情報を以下の目的で必要な範囲内で利用いたします。
                    <br>
                    <br>　　・業務上で必要な連絡。
                    <br>　　・取引先または依頼先との営業的な対応。
                    <br>　　・各種商品・サービスに関する情報提供。
                    <br>　　・各員に事前にお知らせし同意を得た事項。
                    <br>
                    <br>３．個人情報の第三者提供について
                    <br>
                    <br>　当社は個人情報をあらかじめご本人の同意を得ることなく
                    <br>　第三者に提供いたしません（個人情報保護法等の法令に定めのある場合を除きます）。
                    <br>
                    <br>４．個人情報の開示・編集・削除
                    <br>
                    <br>　当社はご本人から自己の個人情報の開示請求がある場合、ご本人と確認された場合のみ速やかに開示いたします。
                    <br>　当社はご本人から自己の個人情報の訂正・追加・削除の請求がある場合、ご本人と確認された場合のみ<br>　速やかにこれらを早急に対応いたします。
                    <br>
                    <br>５．個人情報の安全な保護・管理
                    <br>
                    <br>　当社は取り扱う個人情報の漏えい、滅失、き損の防止、その他の個人情報の安全な保護、
                    <br>　および管理のために必要で適切な措置を講じます。
                    <br>
                    <br>６．著作権に関する表示
                    <br>
                    <br>　当ウェブサイトに記載されている内容（コンテンツ）の著作権は、
                    <br>　特に明示していない限りすべて当社帰属します。
                    <br>
                    <br>　著作権法で定められた「私的使用のための複製」および「引用」以外の目的で、
                    <br>　複製・転記などをする場合には当社の使用許諾が必要です。
                    <br>
                    <br>　コンテンツのご利用を希望される場合は、予め当社までお問い合わせください。
                    <br>
                    <br>７．本方針の変更
                    <br>
                    <br>　本方針の内容変更は当社が別途定める場合を除いて当サイトに掲載した時点から効力を生じます。
                    <br>
                    <br>８．お問い合わせ窓口
                    <br>
                    <br>　当社の個人情報管理責任者は下記の通りです。
                    <br>　個人情報の適正な管理および継続的な改善を実施します。
                    <br>
                    <br>
                    <br>株式会社システム制御サービス　<br>個人情報管理責任者 高橋　正
                    <br>
                    <br>TEL : 03-3971-5773 <br>E-mail : takahashi@scs-net.co.jp
                    <br><br>営業時間：09:00～17:45（月～金曜日）
                    <br>
                    <br>（ただし祝祭日、年末年始、弊社休業日を除く）
                </p>
                <!-- TBLから取得する？ここまで -->
            </div>
        </div>
    </div>
</section>
<section class="cid-qXmdn0VNVt" id="footer2-l">
    <div class="container">
        <div class="media-container-row content mbr-white">
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <!-- TBLから取得する？ここまで -->
                <p class="mbr-text">
                    <strong><u>Address</u></strong>
                    <br>
                    <br>〒170-0013
                    <br>東京都豊島区東池袋1-48-10<br>25山京ビル9F<br><br><br><strong><u>Contacts</u></strong>
                    <br>
                    <br>アドレス：info@scs-net.co.jp<br>　　　　　(営業共通)
                    <br>
                </p>
                <!-- TBLから取得する？ここまで -->
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <p class="mbr-text">
                    <strong><u>Links</u></strong>
                    <br>
                    <br><a href="index.html#features11-5">ご挨拶</a>
                    <br><a href="index.html#slider1-h">会社概要</a>
                    <br><a href="index.html#header5-w">事業内容</a>
                    <br><a href="index.html#slider1-m">採用情報</a>
                    <br><a href="index.html#form1-o">お問合わせ</a>
                    <br><a href="index.html#info3-y">個人情報保護方針</a><br>
                    <br>電話：03-3971-5773<br>F A X：03-3971-5646<br>
                    <br>営業：09:00～17:45<br>
                </p>
            </div>
            <div class="col-12 col-md-6">
                <div class="google-map">
                    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="border:0" src="https://maps.google.co.jp/maps?oe=utf-8&amp;hl=ja&amp;client=firefox-a&amp;q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E8%B1%8A%E5%B3%B6%E5%8C%BA%E6%9D%B1%E6%B1%A0%E8%A2%8B1-48-10%E3%80%8025%E5%B1%B1%E4%BA%AC%EF%BE%8B%EF%BE%9E%EF%BE%999F&amp;ie=UTF8&amp;hq=&amp;hnear=%E6%9D%B1%E4%BA%AC%E9%83%BD%E8%B1%8A%E5%B3%B6%E5%8C%BA%E6%9D%B1%E6%B1%A0%E8%A2%8B%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%94%EF%BC%98%E2%88%92%EF%BC%91%EF%BC%90+%EF%BC%92%EF%BC%95%E5%B1%B1%E4%BA%AC%E3%83%93%E3%83%AB&amp;gl=jp&amp;ll=35.734077,139.715751&amp;spn=0.002987,0.004984&amp;t=m&amp;z=14&amp;brcurrent=3,0x60188d6ff128b8f1:0x681cf2050621738a,0&amp;output=embed" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</section>